extends layout

block append script
    script(src="/javascripts/npc.js")

block append content

    div#npcDialog.modal(tabindex="-1", role="dialog", aria-labelledby="npcDialogTitle", aria-hidden="true")
        div.modal-dialog.modal-lg(role="document")
            div.modal-content
                div.modal-header
                    h5#zoneDialogTitle.modal-title Описание зоны
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    form#zoneForm
                        input#_id(type="hidden")
                        div.container-fluid
                            div.form-group.row
                                label.col-sm-12 Видимое название
                            div.form-group.row
                                div.col-sm-12
                                    input.form-control(name="name")
                            div.form-group.row
                                label.col-sm-2 Уровень
                                label.col-sm-6 Короткое имя
                                label.col-sm-4 Характер
                            div.form-group.row
                                div.col-sm-2
                                    input.form-control(name="minLev")
                                div.col-sm-6
                                    input.form-control(name="minLev")
                                div.col-sm-4
                                    select.form-control(name="")
                                        option(value="n") Нейтрал
                                        option(value="g") Добрый
                                        option(value="e") Злой
                            div.form-group.row
                                label.col-sm-4 HP
                                label.col-sm-4 Mana
                                label.col-sm-4 Шаги
                            div.form-group.row
                                div.col-sm-4
                                    input.form-control(name="hp")
                                div.col-sm-4
                                    input.form-control(name="mana")
                                div.col-sm-4
                                    input.form-control(name="step")

                div.modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal")
                        Закрыть
                    button#saveZone.btn.btn-primary(type="button")
                        Сохранить

       
    button#insertNpc.btn.btn-primary(type="button") Launch demo modal
