extends layout

block append script
    script(src="/javascripts/zone.js")

block content

    div#zoneDialog.modal(tabindex="-1", role="dialog", aria-labelledby="zoneDialogTitle", aria-hidden="true")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    h5#zoneDialogTitle.modal-title Описание зоны
                    button.close(type="button", data-dismiss="modal", aria-label="Close")
                        span(aria-hidden="true") &times;
                div.modal-body
                    form#zoneForm
                        input#_id(type="hidden")
                        div.container-fluid
                            div.form-group.row
                                label.col-sm-3.text-right Название
                                div.col-sm-9
                                    input.form-control(name="name")
                            div.form-group.row
                                label.col-sm-3.text-right Авторы
                                div.col-sm-9
                                    input.form-control(name="authors")
                            div.form-group.row
                                label.col-sm-3.text-right Квестовый
                                div.col-sm-9
                                    div.form-check
                                        label.form-check-label
                                            input.form-check-input(type="checkbox", value="1", name="isQuest")
                            div.form-group.row
                                label.col-sm-6.text-right Минимальный уровень
                                div.col-sm-2
                                    input.form-control(name="minLev", value="0")
                            div.form-group.row
                                label.col-sm-6.text-right Максимальный уровень
                                div.col-sm-2
                                    input.form-control(name="maxLev", value="70")
                div.modal-footer
                    button.btn.btn-secondary(type="button", data-dismiss="modal") Закрыть
                    button#saveZone.btn.btn-primary(type="button") Сохранить

    div.container.text-center.m-2
        a#insertZone(href="#") добавить зону

    table.table.table-xsm
        tr
            th Уровень
            th Авторы
            th Название

        each zone in zones
            tr
                td #{zone.minLev} &ndash; #{zone.maxLev}
                td #{zone.authors}
                td #{zone.name}